<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8">
  <meta title="keywords" content="">

  <title>[PROJECT TITLE]</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
