<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="container">
    <% if (loggedIn) { %>
      <%- include("../partials/header-auth") %>
    <% } else { %>
      <%- include("../partials/header") %>
    <% } %>
    <main class="main">
      <h1>Home</h1>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
