<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="container">
    <%- include("../partials/header") %>
    <main class="main">
      <h1>Login</h1>
      <form action="/api/users/login" method="post" id="login-form">
        <fieldset class="form-fieldset" id="email-field">
          <label class="form-label" htmlFor="email">Email</label>
          <input class="form-input" id="email" type="email" name="email" required/>
        </fieldset>
        <fieldset class="form-fieldset" id="password-field">
          <label class="form-label" htmlFor="password">Password</label>
          <input class="form-input" id="password" type="password" name="password" required/>
        </fieldset>
        <span class="form-error">Email or password incorrect.</span>
        <button class="form-button" type="submit" form="login-form">Login</button>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
