<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body class="container">
    <%- include("../partials/header") %>
    <main class="main">
      <h1>Register</h1>
      <form action="/api/users/register" method="post">
        <fieldset class="form-fieldset" id="name-field">
          <label class="form-label" htmlFor="name">Name</label>
          <input class="form-input" id="name" type="text" name="name"/>
        </fieldset>
        <fieldset class="form-fieldset" id="email-field">
          <label class="form-label" htmlFor="email">Email</label>
          <input class="form-input" id="email" type="email" name="email"/>
        </fieldset>
        <fieldset class="form-fieldset" id="password1-field">
          <label class="form-label" htmlFor="password1">Password</label>
          <input class="form-input" id="password1" type="password" name="password1"/>
        </fieldset>
        <fieldset class="form-fieldset" id="password2-field">
          <label class="form-label" htmlFor="password2">Confirm Password</label>
          <input class="form-input" id="password2" type="password" name="password2"/>
        </fieldset>
        <span class="form-error"><%= errors %></span>
        <button class="form-button">Register</button>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
